<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	{% block inline_css %}
	<style type="text/css">
		header ul{
			display: flex;
			justify-content: space-between;
			list-style: none;
			width: 400px;
			margin:  0 auto;
		}

		header ul .currentPage{
			color: black;
			font-size: 25px;
		}
	</style>
	{% endblock %}
</head>
<body>
	{% block header_content %}
	<header>
		{% include 'header.html.twig' %}
	</header>
	{% endblock %}
	{% block main_content %}
	{% endblock %}
	<footer>
		© 2022 La mia società bellissima
	</footer>
</body>
</html>